/* Estilos generales */
body {
	margin: 0;
	padding: 10px;
	font-family: Arial, sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: flex;
	background-image: url('src/assets/Fondo_Version_escritorio.png');
  }
  
  /* Fondo para dispositivos móviles */
  @media (max-width: 768px) {
	body {
	  background-image: url('src/assets/Fondo_Version_9x16.png');
	}
  }
  

button {
    background: #fff;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid rgba(30, 141, 60, 0.83);
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }

  button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
  
  .main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#123, #111);
	opacity: 0;
	animation: main-loadup 1s forwards linear, main-loadup-bg 10s forwards linear;
	animation-delay: 7s, 8s;
}

@keyframes main-loadup {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes main-loadup-bg {
	from {
		background-size: 100% 100%;
		background-position: 0% 0%;
	}

	to {
		background-size: 400% 400%;
		background-position: 0% 100%;
	}
}