span
{
    position: absolute;
    bottom: 145px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: white; 
    font-weight: bold;
    font-size: 25px;
    white-space: nowrap;
}

@media (min-width: 1000px) {
    span {
        bottom: 145px;
    }
}